# Ignore node_modules and dependencies
node_modules/
npm-debug.log
yarn-error.log

# Ignore environment variables
.env
.env.local


# Ignore build and log files
dist/
build/
logs/
*.log

# Ignore editor/IDE specific files
.vscode/
.idea/
*.swp
*.swo



